---
commonOverlays:
  - name: Update name label's key to app.kubernetes.io/name
    query: metadata.labels.name~
    value: app.kubernetes.io/%v  # the old key was %v
    action: merge
  - name:
    query: spec.selector
    value:
      app.kubernetes.io/%k: "%v"  # the old key was %k
yamlFiles:
  - name: Set of Kubernetes manifests from upstream
    path: ./examples/kubernetes/manifests
